:root {
  --brand-primary: rgb(246, 251, 16);
  --brand-fainted: rgb(253, 255, 125);
  --brand-darken: rgb(171, 173, 7);

  --black: rgb(16, 16, 16);
  --white: rgb(255, 255, 255);
  --off-white: rgb(250, 250, 250);

  --gray-darkest: rgba(0, 0, 0, 0.8);
  --gray-dark: rgba(0, 0, 0, 0.6);
  --gray-light: rgba(0, 0, 0, 0.3);
  --gray-lightest: rgba(0, 0, 0, 0.1);

  --background: var(--off-white);
  --foreground: white;
}