sc-card {
  background-color: $foreground;
  border-radius: $corner-radius;
  box-shadow: $shadow-strong;
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  position: relative;

  &.coloured::before {
    content: "";
    position: absolute;
    width: 3px;
    height: 100%;;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: $brand-primary;
  }

  img {
    display: flex;
    position: relative;
    z-index: 1;
  }

  .content {
    box-sizing: border-box;
    padding: $card-padding;
  }
}