sc-grid {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  margin: -1em;

  > * {
    flex-basis: 20rem;
    flex-grow: 1;
    margin: 1em;
  }

  @supports (grid-area: auto) {
    margin: 0;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-gap: 2em;
    > * {
      margin: 0;
      height: fit-content;
    }
  }
}

// @include for-mobile() {
//   sc-grid {

//     &.two-columns,
//     &.three-columns,
//     &.four-columns {
//       grid-template-columns: 1fr;
//     }
//   }
// }